body
{
  font-weight: 350;
  color: #FFFFFF;
  background: linear-gradient(90deg, #11162d,rgba(8, 9, 124, 1));
  
}

.foto{
  position: absolute;
  top: 60px; 
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid white;
  overflow: hidden;
}

.foto img{
  width: 100%;
  height: 100%;
  object-fit: cover
}

h2
{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: bolder;
  font-family: 'Nunito', sans-serif;
  
}

.eu{
  background: #252b7a;
  height: 270px;
  width: 300px;
  border-radius: 10px;
  margin: 15px;
  margin-top: 130px;
  padding: 18px;
  padding-top: 5px;
  box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 1);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}



.eu:hover{
  transform: translateY(-6px);
  box-shadow: 0 16px 35px rgba(0, 0, 0, 1);
}

.eu:active{
  transform: translateY(-6px);
}



.oq-sei{
  margin-top: 15px;
  padding-left: 18px;
}

.oq-sei li{
  margin-bottom: 8px;
  color: #d7d9f2;
  transition: 0.2s ease;
  cursor: pointer;
}


.oq-sei li:hover{
  color: #ffffff;
  transform: translateY(-4px);
  text-shadow: 0 0 8px rgba(255,255,255,0.8);
}


.oq-sei li:active{
  color: #ffffff;
  transform: translateY(-4px);
  text-shadow: 0 0 12px rgba(255,255,255,1);
}
a{
  color: rgba(0, 4, 255, 1);
}
